/*===========================================
    CSS RESET - meyerweb.com
===========================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===========================================
    UNIVERSAL BASE/FORMAT
===========================================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    color: #fff;
    font-size: 10px;
    padding: 1% 5%;
}
/*===========================================
    BASE STYLES/FORMAT
===========================================*/
/*COLORS, FONT-FAMILY, & FONT-SIZES*/
h1, h2, h3,
li {
    font-family: 'EB Garamond', serif;
    font-weight: 700; /*BOLD*/
}
p,
span {
    font-family: 'Source Serif Pro', serif;
}
h1 {
    font-size: clamp(6.8rem, 10vw, 9.6rem);
}
h2 {
    font-size: clamp(3.6rem, 10vw, 6.8rem);
}
h3 {
    font-size: clamp(2.8rem, 10vw, 4.8rem);
}
li {
    font-size: clamp(2.2rem, 10vw, 3.2rem);
}
p,
span {
    font-size: clamp(2rem, 10vw, 2.2rem);
}
/*CLASSES*/
.aboutChars p::first-letter {
    font-size: clamp(2.4rem, 10vw, 2.8rem);
}
.lgSpan {
    font-size: clamp(2.4rem, 10vw, 3.6rem);
}
/*BACKGROUND IMAGES*/
body {
    background: 
    linear-gradient(
        rgba(43, 45, 47, 0.7),
        rgba(43, 45, 47, 0.7)
    ),
    url('../assets/images/bkgrd-spiritedAway.jpg');
    background-attachment: fixed;
    background-position: center, bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
/*INTERACTIVE STYLES*/
li:hover,
.active {
    border-bottom: 0.05rem solid #fff;
    margin-top: -0.05rem;
    overflow: hidden;
}
/*===========================================
    LAYOUT
===========================================*/
/*BY TYPE*/
h1, h3,
i,
ul {
    text-align: center;
}
h2, h3,
p {
    padding-bottom: 2rem;
}
img,
.gif {
    display: block;
}
li {
    padding: 1rem;
}
li,
span,
ul {
    display: inline-block;
    list-style: none;
}
main {
    padding-top: 3rem;
}
main > section > section {
    display: flex;
}
p {
    line-height: 1.2;
}
ul {
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*BY CLASS*/
.aboutChars p + p {
    text-indent: 4.5rem;
}
.hidden {
    display: none;
}
/*===========================================
    MEDIA QUERIES
===========================================*/
/*MOBILE RESPONSIVE*/
@media (max-width: 800px) {
	/*LAYOUT CHANGES*/
    html {
        padding: 5%;
    }
    img,
    .gif {
        width: 100%;
    }
    main > section > section {
        display: block;
    }
    div + div {
        display: flex;
        flex-direction: column;
    } 
    div + div > img {
        order: 1;
    } 
    div + div > p:first-of-type {
        padding-top: 2rem;
    } 
}
/*FIXING FORMATTING & PICTURES*/
@media (min-width: 801px) and (max-width: 1599px) {
	/*LAYOUT CHANGES*/
    html {
        padding: 5%;
    }
    main > section > section {
        display: flex;
    }
    div + div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    } 
    div + div > p:last-of-type {
        padding-bottom: 0;
    } 
    .aboutChars img:first-of-type {
        max-width: 50rem;
    }
    .aboutChars > section div:first-of-type {
        margin-right: 5%;
    }
    .gif {
        display: none;
    }
}
/*LAPTOP/DESKTOP RESPONSIVE*/
@media (min-width:1600px) {
	/*LAYOUT CHANGES*/
    /*BY CLASS*/
    .aboutChars > section {
        padding: 2%;
    }
    .aboutChars > section div:first-of-type {
        margin-right: 5%;
        width: 40%;
    }
    .aboutChars > section div:last-of-type {
        margin: auto 0 0 0;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
    .gif {
        float: right;
        margin: 0 0 3% 5%;
    }
}
